body{
	margin:0;
	padding:0;
}
@font-face {
	font-family: Scratch;
	src: url('./fonts/Scratch_.ttf');
}
.complete tr.row1 {
	background-color:rgba(107, 186, 112, .4)
}
.complete tr.resultheaders {
	background-color:rgba(66, 142, 71, .4);
}
.nobak{
	background-color: rgba(0,0,0,0);
}
#JBL{
	color: #356AA0;
	letter-spacing:0.1;
	font-size: 22px;
	font-family: Scratch;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
#logi{
	color: #006E2E;
}
#bean{

	color: #CC0000;
}